.TITLE{
    display: flex;
    vertical-align: middle;
}
.group-name{
    
    display: inline-block;
    vertical-align: top;
}

.group-tag{
    display: flex;
    vertical-align: middle;
}
h7{
    font-size: 4px;
}
.rank-group{
    margin-top:20px;
}
.rank-up-font-color{
    font-style: inherit;
    color : red;
}
.rank-stay-font-color{
}
.rank-down-font-color{
    color : blue;
}
.solved-problem-list{
    margin:3px;
    display: flex;
    vertical-align: middle;
}
.card-entity{
    width: 30%;
    margin:3px;
}