.hidden-rec{
    display:flex;
    justify-content: center;
    align-items: center;
}
.comment-hr{
    border: 0.2px solid blue;
    
}
.comment-button{
    background-color:#fff;
    border:none;
    box-shadow: none;
    padding:0;
    overflow:visible;
    text-align: left;
}